@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Signika:wght@300&display=swap');

/*body
{
    font-family: 'Roboto Slab', serif;
    font-family: 'Signika', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    background-image: url(images/goran-ivos-wJpl8D38Tq8-unsplash.jpg);
    background-attachment: fixed;
    background-size: 1900px 1000px;
    overflow-x: hidden;
}*/

.detectorArea{
  position:fixed; 
  top:50%; 
  left:50%; 
  transform:translate(-50%, -50%); 
  width:5000px; 
  height:400px; 
  background: rgba(0,255,255,0);
  
}

.detectionContainer{
  background: rgba(255,255,255,0);
}
.HeaderContainer {
    background-color: gray;
    /*background-image: url('img/background.gif');*/
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden; /* for float if flex not supported */
    margin-top: 0;
    z-index: 3;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin-bottom: 75px;
  }
  #logo {
    text-align: center;
    /* to deal with flex */
    flex-shrink:0;
    margin:0;/* or 0 or auto auto auto 0 or ... */
  }

  .PageContainer 
  {
    margin-top: 75px;
    transform: translateX(200%);
    margin-bottom: 75px;
    margin-left: 200px;
    padding: 100px 0px 100px 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 1.0s;
    z-index: 4;
    border: 2px #32E2F1 ridge;
    border-radius: 10px;
    animation: border-animation 5s linear infinite;
  }
  
 .PageContainer img
 {
  margin: 10px;
 }
 .PageContainer .ImgFrame img
 {
  object-fit: cover;
  border-radius: 100%;
 }
 .MainContainer
 {
  transform: translateX(200%);
  color: var(--clr);
  position: relative;
    background-color: #181818;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    transition: 1.5s;
    z-index: 4;
    border: 2px #32E2F1 ridge;
    border-radius: 10px;
    animation: border-animation 5s linear infinite;

}
.MainContainer h1{
    font-size:75px;
    padding-bottom: 5px;
    width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    transition: 1.75s;
    transition-delay: 1.5s;
}

.MainContainer h3{
  font-size:30px;
  transition:  1.90s;
  transition-delay: 2.5s;
}

.MainContainer h2{
  font-size:45px;
    padding-bottom: 5px;
    display: -webkit-box;
    max-width: 560px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 3s;
    transition-delay: .5s;
    

}
.MainContainer ul {
  margin: 0;
  display: inline-flex;
  transition: 2.25;
  transition-delay: .5s;
}
.MainContainer ul li{
  margin-top: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  transition-delay: .5s;

}

 div.trigger
{
 transform: translateX(0%);
 color: var(--clr);
}
.PageContainer div.trigger
{
 transform: translateX(0%);
 color: var(--clr);
}

body .detectionContainer div.trigger.open
{
    margin-left: 300px;
}


 /*@keyframes moveFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes elementAppears {
    from {
      opacity: 0%;
    }
    to {
        opacity: 100%;
    }
  }*/
  #image-track 
  {
      display: flex;
      gap: 4vmin;
      position: absolute;
      left: 0%;
      top:50%;
      transform: translate(0%, -50%);
      z-index: 4;
  }
  @keyframes fromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes border-animation {
    0% {
      border-color: #32E2F1;
    }
    25% {
      border-color: #FFE80F;
    }
    50% {
      border-color: #8C12FB;
    }
    75% {
      border-color: #FF0080;
    }
    100% {
      border-color: #32E2F1;
    }
  }